@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

:root {
  --yellow: #FBFFA7;
  --orange: #FF764D;
  --sky-blue: #B1C5FF;
  --purple: #D5B3FF;
  --green: #B6FFC0;
  --blue: #0000FF;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono',monospace;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
}

hr {
  margin: 0;
}

.navs-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100em;
  transition: top 0.3s;
  display: flex;
  flex-direction: column;
  z-index: 15;
}

.navs-container.hide {
  top: -6em;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em .5em 1em;
  height: 3em;
  width: 100%;
  background-color: #FFFFFF;
}

.main-nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-nav-links a {
  text-decoration: none;
  color: black;
  margin: 0 0.5rem;
  font-size: 1em;
  font-weight: 700;
}

.main-nav-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-nav-user a {
  text-decoration: none;
  color: black;
  margin: 0 0.5rem;
  font-size: .8rem;
  letter-spacing: -1px;
  font-weight: 700;
}

.static-main-nav {
  display: flex;
  align-items: center;
  width: 100%;
  transition: top 0.3s;
  height: 3em;
  background-color: #FFFFFF;
  opacity: .9;
  z-index: 10;
}

.static-main-nav a {
  text-decoration: none;
  color: black;
  font-size: .8rem;
  margin: 0 0 0 1.3em;
}

.page-body {
  max-width: 100em;
  background-color: #FFFFFF;
}

header {
  background-image: url('./assets/411311.png');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 6em 7vw 0;
  position: relative;
  min-height: calc(102vh - 115px);
  display: flex;
  align-items: center;
  justify-content: center;  
}

h1 {
  color: var(--orange);
  font-size: 7em
}

.paragraph {
  margin: 8vh 16vw 0 16vw;
}

.paragraph a {
  text-decoration: none;
  color: var(--blue);
}

.paragraph p {
  font-size: .9em;
}

.yellow-container {
  margin: 8vh 0;
  display: flex;
  align-items: center;
}

.cube-yellow {
  background-color: var(--yellow);
  width: 39em;
  height: 39em;
  margin-left: auto;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.yellow-image {
  background-image: url('./assets/271330.png');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 28em;
  height: 28em;
  margin-left: 7vw;
  z-index: 5;
  position: absolute;
}

.yellow-image-2 {
  background-image: url('./assets/401017.png');
  z-index: 5;
  width: 22rem;
  height: 16.5rem;
  background-size: cover;
  background-position: 50% 50%;
  margin-right: 7vw;
}

.video {
  height: 25rem;
  display: flex;
  background-image: url('./assets/480088.png');
  background-size: cover;
  background-position: 80% 20%;
  align-items: center;
  justify-content: center;
}

.video-container {
  margin: 8vh 16vw 10vh 16vw;
  font-size: .8em;
}

.video-container p {
  margin: 1em;
}

.play-icon {
  width: 5rem;
  height: 5rem;
  background-color: var(--blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.green-container {
  margin: 8vh 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.green-cube {
  background-color: var(--green);
  width: 39rem;
  height: 50rem;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 7vw;
}

.green-image {
  background-image: url('./assets/356019.png');
  background-size: cover;
  background-position: 50% 50%;
  width: 22rem;
  height: 16.5rem;
}

.green-image2 {
  background-image: url('./assets/15456.png');
  background-size: cover;
  background-position: 50% 50%;
  width: 22rem;
  height: 16.5rem;
}

.green-image3 {
  background-image: url('./assets/306579.png');
  background-size: cover;
  background-position: 50% 50%;
  width: 28rem;
  height: 28rem;
  position: absolute;
  margin-right: 7vw;
}

.image-container {
  background-image: url('./assets/55555.png');
  background-size: cover;
  background-position: 50% 50%;
  height: 25rem;
  margin: 7vh 16vw 0 16vw;
}

.purple-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 16rem 0;
}

.purple-cube {
  background-color: var(--purple);
  position: absolute;
  z-index: 0;
  width: calc(100% - 32vw);
  height: 39rem;
}

.purple-image {
  background-image: url('./assets/641118.png');
  background-size: cover;
  background-position: 50% 50%;
  width: 22rem;
  height: 16.5rem;
  z-index: 5;
  margin-left: 8vw;
}

.purple-image2 {
  background-image: url('./assets/721834.png');
  background-size: cover;
  background-position: 50% 50%;
  width: 28rem;
  height: 28rem;
  z-index: 5;
  margin-left: auto;
}

.about-jobs {
  margin: 16vh;
  margin-bottom: 0;
  background-color: var(--sky-blue);
}

.about-jobs-image {
  background-image: url('./assets/796141.png');
  background-size: cover;
  background-position: 50% 50%;
  height: 33rem;
}

.about-jobs-text {
  padding: 7vw;
}

.about-jobs-text h3 {
  margin: 0 0 1em 0;
}

.about-jobs-text a {
  text-decoration: none;
  color: var(--blue);
}

.separator {
  height: 8.3rem;
  background-color: #FFFFFF;
}

footer {
  padding: 8vh 8vw 4vh;
  background-color: #FFFFFF;
  letter-spacing: -1px;
}

footer h3 {
  font-size: 3.5em;
  margin: 0 0 .5em 0;
}

.footer-part-1 {
  display: flex;
  justify-content: space-between;
}

.footer-ul {
  list-style-type: none;
  width: 18rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: #000000;
  font-size: .9rem;
  gap: .5rem;
}

.footer-ul a {
  margin: 0;
  text-decoration: none;
  color: #000000;
}

.footer-newsteller {
  font-size: .9rem;
  max-width: 22rem;
  width: 22rem;
}

.footer-newsteller p {
  margin: 0;
  margin-bottom: .5rem;
}

.footer-newsteller input {
  background-color: #EEEEEE;
  border: none;
  padding: .5rem;
  width: 75%;
  margin-top: .5rem;
}

.footer-newsteller input:focus {
  outline: none;
}

.footer-newsteller button {
  background-color: var(--blue);
  color: #FFFFFF;
  border: none;
  padding: .5rem;
  width: 25%;
  cursor: pointer;
}

.footer-part-2 {
  display: flex;
  margin-top: 2rem;
}

.footer-part-2 a {
  text-decoration: none;
  color: #000000;
  font-size: .9rem;
}

.footer-part-2 ul {
  list-style-type: none;
  padding: 0;
  width: 18rem;
}

.footer-select {
  width: 22rem;
}

.footer-select div {
  display: flex;
  gap: .1rem;
}

.footer-select select {
  background-color: #EEEEEE;
  border: none;
  padding: .5rem;
  font-size: .9rem;
  cursor: pointer;
}

.footer-select select:focus {
  outline: none;
}

.footer-part-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  font-size: .9rem;
  align-items: center;
}

.footer-part-3 ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.footer-part-3 a {
  text-decoration: none;
  color: #000000;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: .9rem;
}

.footer-logo h4 {
  font-weight: normal;
}
